
{% set CollectionId = "widgets-collection-" ~ Collection.id %}

<div class="row padding-10 " id="{{ CollectionId }}">
    {% for Widget in Collection.Widgets %}
        {% set Type = Widget.id ~ "@" ~ Collection.id %}
        {{ render(controller('SplashWidgetsBundle:View:delayed', { 
                    'Service'   : Collection.service,  
                    'Type'      : Type,
                    'Options'   : Widget.Options    | json_encode(),
                    'Parameters': Widget.Parameters | json_encode()
        })) }}
    {% endfor %}
</div>     
    
{% if Edit %}
    <script>

        $(document).ready(function() {

            $(function() {
                $('#{{ CollectionId }}').sortable({
                    update: function(event, ui) {

                        Ordering = JSON.stringify($("#{{ CollectionId }}").sortable('toArray', { attribute: 'data-id' }));
                        console.log(Ordering);
                        SplashWidgets_UpdatePositions("{{ Collection.id }}",Ordering);
                    }                
                });
            });

        });

    </script>    
{% endif %} 
    
