{% trans_default_domain "SplashWidgetsBundle" %} 

<tr>
    <td>
        {% if Widget.Icon %}
            <i class="{{ Widget.Icon }}" aria-hidden="true"></i>
        {% endif %}
        {{ Widget.Name }}
    </td>
    <td>
        {{ Widget.Description }}
    </td>
    <td class="text-center">
        
        {% set addUrl = path('splash_widgets_collections_add_widget', { 
            'collectionId': CollectionId,  
            'service' : Widget.Service,
            'type' : Widget.Type,
        }) %}
    
        <a class="btn btn-sm btn-labeled btn-success" role="button" href="{{ addUrl }}"> 
            <span class="btn-label">
                <i class="fa fa-fw fa-plus-circle"></i>
            </span>
            {{ "list.add" | trans}} 
        </a>
    </td>
</tr>

            
 
