{% trans_default_domain "SplashWidgetsBundle" %}   

<div class="col-6 p-3">
    <h3 class="page-title text-center"><i class="fa fa-fw fa-info-circle "></i>
        Widget Collections Displays
    </h3>
</div>
        
<div class="col-6 p-3 text-center">
    <div class="btn-group">
        {% include 'SplashWidgetsBundle:Edit:dates_selector.html.twig' with {"Collection" : Collection } %} 
        {% include 'SplashWidgetsBundle:Widget/Buttons:add.html.twig' with {"CollectionId" : Collection.id , "Channel" : "demo" } %} 

        {% if Edit %}
            <a href="{{ path("splash_widgets_demo_collection") }}" class="btn btn-labeled btn-success pull-right"> 
                <span class="btn-label"><i class="fa fa-fw fa-eye"></i></span>
                View
            </a>
        {% else %}
            <a href="{{ path("splash_widgets_demo_collection_edit") }}" class="btn btn-labeled btn-primary pull-right"> 
                <span class="btn-label"><i class="fa fa-fw fa-cogs"></i></span>
                Edit 
            </a>
        {% endif %}
    </div>
</div>
    
{% if Edit %}
    {{ render(controller('SplashWidgetsBundle:Collection:edit', { 'request' : app.request, 'collectionId' : Collection.id })) }}
    {{ render(controller('SplashWidgetsBundle:List:panel', { 'collectionId' : Collection.id, 'channel' : 'demo' })) }}
{% else %}
    {{ render(controller('SplashWidgetsBundle:Collection:view', { 'collectionId' : Collection.id })) }}
{% endif %}
    

