{% trans_default_domain "SplashWidgetsBundle" %}   

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Use the Widget Factory to create an Empty Widget
        </h6>
    </div>
    <div class="card-body">

        <table class="table table-bordered">

            <thead>
                <td>Service</td>
                <td>Type</td>
                <td>Icon</td>
                <td>Title</td>
                <td>Description</td>
                <td>Try it!!</td>
            </thead>

            {% for Widget in Widgets %}

            <tr>
                <td>
                    {{ Widget.service }}
                </td>
                <td>
                    {{ Widget.type }}
                </td>
                <td>
                    <i class="{{ Widget.icon }}"></i>
                </td>
                <td>
                    {{ Widget.title }}
                </td>
                <td>
                    {{ Widget.description }}
                </td>
                <td>                    
                    <a href="{{ path("splash_widgets_demo_single_edit", {"widgetType": Widget.type}) }}" class="btn btn-labeled btn-primary pull-right"> 
                        <i class="far fa-smile-wink"></i>
                        Test me! 
                    </a>
                </td>
            <tr>

            {% endfor %}
        </table>

    </div>
</div>