{% trans_default_domain "SplashWidgetsBundle" %}   

{% macro Text( Text, Options ) %}
        {% if Options.AllowHtml %}
            {{ Text | raw  }}
        {% else %}
            {{ Text  }}
        {% endif %}
{% endmacro %}

{% macro Render( Widget, Edit ) %}

    {% include 'SplashWidgetsBundle:Widget:loading.html.twig' with { "Widget": Widget, "Edit": Edit } only %}  
    
    <script>
        $(document).ready(function() {
            OWLoadWidget("{{ Widget.service }}", "{{ Widget.identifier }}");
        });
    </script>

{% endmacro %}


{% macro Single( Widget, Edit ) %}
    {% include 'SplashWidgetsBundle:Widget:base.html.twig' with { "_W": Widget, "Edit": Edit } only %}  
{% endmacro %}

{% macro Array( Widgets, Options, Edit ) %}
    
    <div class="row padding-10 " {% if Edit %}id="widgets-list"{% endif %}>
        {% for Widget in Widgets %}
{#            {{ render(controller('SplashWidgetsBundle:Render:index', { 'Service' : Widget.service,  'WidgetId' : Widget.type })) }}#}
{#            {{ _self.Single(Widget, Options, Edit) }}#}
{#            {{ _self.Single(Widget,  Edit) }}#}
            {{ _self.Render(Widget, Edit) }}
        {% endfor %}
    </div>     
    
    {% if Edit and Options.Widget_Ordering_Update_JS_Function is not empty and Options.Widget_Parent_Entity_Id is not empty %}
        <script>

            $(document).ready(function() {

                $(function() {
                    $('#widgets-list').sortable({
                        update: function(event, ui) {
                            {{Options.Widget_Ordering_Update_JS_Function}}("{{Options.Widget_Parent_Entity_Id}}",JSON.stringify($("#widgets-list").sortable('toArray', { attribute: 'data-id' })));
                        }                
                    });
                });

            });

        </script>    
    {% endif %}    
    
{% endmacro %}


