{% trans_default_domain "SplashWidgetsBundle" %}   

{% macro Text( Text, Options ) %}
        {% if Options.AllowHtml %}
            {{ Text | raw  }}
        {% else %}
            {{ Text  }}
        {% endif %}
{% endmacro %}

{% macro SparkLine( Type, Options, Values ) %}
    
    {% if Values is not empty %}                
        <div 
            class="sparkline"
            data-sparkline-type="{{ Type | default("bar") }}" 
            {% for Name, Value in Options %} 
                data-sparkline-{{Name}}="{{Value}}"
            {% endfor %}
            >
            {% for Value in Values %} 
                {{Value}}{% if not loop.last %},{% endif %}
            {% endfor %} 
        </div>  
    {% endif %}    
    
{% endmacro %}
