{% trans_default_domain "SplashWidgetsBundle" %}   

{% macro Text( Text, Options ) %}
        {% if Options.AllowHtml %}
            {{ Text | raw  }}
        {% else %}
            {{ Text  }}
        {% endif %}
{% endmacro %}

{% macro SparkLine( Type, Options, Values ) %}
    {% if Values is not empty %}                
        {% set Labels =  '["' ~ Values | keys | join('","') ~ '"]' %}                        
        <div 
            class="sparkline"
            style="display:none"
            data-sparkline-type="{{ Type | default("bar") }}" 
            {% for Name, Value in Options %} 
                data-sparkline-{{Name}}="{{Value}}"
            {% endfor %}
            data-sparkline-labels="{{Labels}}"
            >
            {% for Value in Values %} 
                {{Value}}{% if not loop.last %},{% endif %}
            {% endfor %} 
        </div>  
    {% endif %}    
    
{% endmacro %}

{% macro MorrisChart( Type, DataSet, Xkey, Ykeys, Labels, Options ) %}
    {% if DataSet is not empty %}                
        <div 
            class="morris-chart"
            style="height:200px"
            id="{{ random() }}"
            data-morris-type='{{ Type }}'
            data-morris-dataset='{{ DataSet | json_encode() }}'
            data-morris-xkey='{{ Xkey }}'
            data-morris-ykeys='{{ Ykeys | json_encode() }}'
            data-morris-labels='{{ Labels | json_encode() }}'
            data-morris-options='{{ Options | json_encode() }}'
            >
        </div>  
    {% endif %}   
{% endmacro %}

{% macro MorrisDonut( DataSet, Options ) %}
    {% if DataSet is not empty %}                
        <div 
            class="morris-donut"
            style="height:200px"
            id="{{ random() }}"
            data-morris-dataset='{{ DataSet | json_encode() }}'
            data-morris-options='{{ Options | json_encode() }}'
            >
        </div>  
    {% endif %}    
{% endmacro %}

