{% trans_default_domain "SplashWidgetsBundle" %}   
{% import "SplashWidgetsBundle:Macros:widgets.html.twig" as Wid %}

{#
    Spark Info
#}
<div class="text-center">
{#    {% if Block.Options.Separator %}#}
{#        <div class="sparks-info"></div>#}
{#    {% endif %}#}


        <h5> 
            {{ Wid.Text(Block.title,Block.Options) }} 
        </h5>
            
        <h1> 
            {% if Block.FaIcon is not empty %}
                <i class="fa fa-{{ Block.FaIcon }}" aria-hidden="true">{{ Wid.Text(Block.value,Block.Options) }}</i>
            {% endif %}
            {% if Block.GlyphIcon is not empty %}
                <i class="glyphicon glyphicon-{{ Block.GlyphIcon }}">{{ Wid.Text(Block.value,Block.Options) }}</i>
            {% endif %}
{#            {{ Wid.Text(Block.value,Block.Options) }}#}
        </h1>
            
{#        {% if Block.Chart is not empty %}                
        <div class="sparkline txt-color-blue">
            {% for Value in Block.Chart %} {{Value}}, {% endfor %} 
        </div>  
        {% endif %}#}
</div>
    
{#<ul id="sparks" class="padding-5">
    {% if Block.Options.Separator %}
        <div class="sparks-info"></div>
    {% endif %}

    <li class="sparks-info padding-5">
        <h5> 
            {{ Wid.Text(Block.title,Block.Options) }} 
            <span class="txt-color-blue">
                {% if Block.FaIcon is not empty %}
                    <i class="fa fa-{{ Block.FaIcon }}" aria-hidden="true"></i>
                {% endif %}
                {% if Block.GlyphIcon is not empty %}
                    <i class="glyphicon glyphicon-{{ Block.GlyphIcon }}"></i>
                {% endif %}
                {{ Wid.Text(Block.value,Block.Options) }}
            </span>
        </h5>
        {% if Block.Chart is not empty %}                
        <div class="sparkline txt-color-blue">
            {% for Value in Block.Chart %} {{Value}}, {% endfor %} 
        </div>  
        {% endif %}
    </li>
</ul>    #}

<script>
    $(document).ready(function() {
        runAllCharts();
    });
</script>    
    