{% trans_default_domain "SplashWidgetsBundle" %}   
{% import "SplashWidgetsBundle:Macros:widgets.html.twig" as Wid %}

{#
    Spark Info
#}
<div class="text-center">
{% if Block.title is not empty %}
    <h5> 
        {{ Wid.Text(Block.title,Block.Options) }} 
    </h5>
{% endif %}

    <h1> 
{% if Block.FaIcon is not empty %}
    <h1> 
        <i class="fa fa-{{ Block.FaIcon }}" aria-hidden="true"></i>
        {{ Wid.Text(Block.value,Block.Options) }}
    </h1>
{% endif %}
{% if Block.GlyphIcon is not empty %}
    <h1> 
        <i class="glyphicon glyphicon-{{ Block.GlyphIcon }}"></i>{{ Wid.Text(Block.value,Block.Options) }}
    </h1>
{% endif %}
    
{% if Block.Chart is not empty %}
    {{ Wid.SparkLine( "bar", Block.Options.ChartOptions, Block.Chart ) }}
    <script>
        $(document).ready(function() {
            SplashWidgets_SparkLineBarCharts();
        });
    </script>   
{% endif %}
    
{% if Block.Pie is not empty %}                
    {{ Wid.SparkLine( "pie", Block.Options.ChartOptions, Block.Pie ) }}
    <script>
        $(document).ready(function() {
            SplashWidgets_SparkLinePieCharts();
        });
    </script>   
{% endif %}

</div>