{% extends 'ThemeBundle:Blocks:well.block.twig' %}         

{#{% import "NodesCoreBundle:Macros:nodes.html.twig"                  as Nodes %}#}
{% import "ThemeBundle:Macros:base.html.twig"                       as Base %}
{% form_theme Form 'ThemeBundle:Form:smartform.html.twig' %}

{% block type  %}well-sm{% endblock  %}

{% block before  %}
    {{ form_start(Form) }}
{% endblock  %}

{% block content  %}
    {{ form_widget(Form) }}
{% endblock  %}

{% block footer  %}
    <div class="pull-right">
        {{ Base.FormReset() }}
        {{ Base.FormSubmit() }}
    </div>
{% endblock  %}

{% block after  %}
    {{ form_end(Form) }}
{% endblock  %}
        

{#{{dump(WsWidget)}}#}
{#{{dump(WidgetContents)}}#}
{#{{dump(Widget)}}#}
