{% trans_default_domain "SplashWidgetsBundle" %}   

    <h3 class="page-title txt-color-blueDark"><i class="fa fa-fw fa-info-circle "></i>
        Simple Widget Displays
    </h3>

    <table class="table table-bordered">
        
        <thead>
            <td>
                Service
            </td>
            <td>
                Type
            </td>
            <td>
                Views (Forced / Normal / Cached)
            </td>
        </thead>
        
        {% for Widget in Widgets %}

        <tr>
            <td>
                {{ Widget.service }}
            </td>
            <td>
                {{ Widget.type }}
            </td>
            <td width="70%">
                <div class="row padding-10">
                    {{ render(controller('SplashWidgetsBundle:View:forced', { 'Service' : Widget.service,  'Type' : Widget.type })) }}
                    {{ render(controller('SplashWidgetsBundle:View:delayed', { 'Service' : Widget.service,  'Type' : Widget.type })) }}
{#                    {{ render(controller('SplashWidgetsBundle:View:forced', { 'Service' : Widget.service,  'WidgetId' : Widget.identifier })) }}#}
                </div>
            </td>
        <tr>

        {% endfor %}
    </table>

{#    {{ dump(Widgets) }}#}

