{% extends "SplashWidgetsBundle:Widget:base.html.twig" %}

{#{% import "SplashWidgetsBundle:Macros:widgets.html.twig" as Wid %}#}

{#{{ Wid.Single(Widget, Edit) }}#}
{#{{ Wid.Single(Widget, true) }}#}

{#{{ dump(Widget.parent) }}#}

{% block widget_box %}
    {% if Cache is not empty %}
        
        {{ Cache.Contents | raw }}
        
        <script>
            $(document).ready(function() {
                SplashWidgets_runAllCharts("{{ Service }}", "{{ WidgetType }}", "{{ Edit | default(false) }}");
            });
        </script>
        
    {% else %}
    
    <div class="panel panel-warning">
        
        <div class="text-center">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"  aria-hidden="true"></i>
            <span class="sr-only">Loading your widget...</span>    
        </div>
        
        <script>
            $(document).ready(function() {
                SplashWidgets_LoadContents("{{ Service }}", "{{ WidgetType }}", "{{ Edit | default(false) }}");
            });
        </script>
        
    </div>
    
    {% endif %}
    
{% endblock %}
        
{#    {% include 'SplashWidgetsBundle:Widget:loading.html.twig' %}  #}
    
