

<div class="well">

    <div class="btn-group btn-group-justified">
        <a href="{{ path("splash_widgets_demo_list") }}" class="btn btn-primary">List</a>
        <a href="{{ path("splash_widgets_demo_single_forced") }}" class="btn btn-primary">Forced</a>
        <a href="{{ path("splash_widgets_demo_single_delayed") }}" class="btn btn-primary">Delayed</a>
        <a href="{{ path("splash_widgets_demo_single_edit") }}" class="btn btn-primary">Edit</a>
        <a href="{{ path("splash_widgets_demo_single_blocks") }}" class="btn btn-primary">Block</a>
        <a href="{{ path("splash_widgets_demo_home") }}" class="btn btn-primary">Collection (Controller)</a>
        <a href="{{ path("splash_widgets_demo_blocks") }}" class="btn btn-primary">Collection (Sonata Block)</a>
    </div>

</div>