{% trans_default_domain "SplashWidgetsBundle" %}   
{% import _self as btns %}

<!-- Single button -->
<div class="btn-group dropdown">
    <button type="button" class="btn dropdown-toggle  {{ Class | default("btn-primary") }}" id="splashWidgetPresetButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fas fa-clock" aria-hidden="true"></i>
        &nbsp;
        {% if Collection.Preset is not empty %}
            {{ ('dates.' ~ Collection.Preset)  | trans }}
        {% else %}
            {{ "dates.label" | trans }}
        {% endif %}
        &nbsp;
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="splashWidgetPresetButton">
        
        {# Preset Day Button #}
        <li>{{ btns.Preset_Btn(Collection, "D")}}</li>
        
        {# Preset Week Button #}
        <li>{{ btns.Preset_Btn(Collection, "W")}}
        
        {# Preset Month Button #}
        <li>{{ btns.Preset_Btn(Collection, "M")}}

        {# Preset Year Button #}
        <li>{{ btns.Preset_Btn(Collection, "Y")}}
            
        <li role="separator" class="divider"></li>
            
        {# Preset Month Button #}
        <li>{{ btns.Preset_Btn(Collection, "LM")}}
            
        {# Preset Month Button #}
        <li>{{ btns.Preset_Btn(Collection, "LW")}}
            
        {# Preset Month Button #}
        <li>{{ btns.Preset_Btn(Collection, "L2W")}}

        {# Preset Year Button #}
        <li>{{ btns.Preset_Btn(Collection, "LY")}}
            
        <li role="separator" class="divider"></li>
            
        {# Preset Day-1 Button #}
        <li>{{ btns.Preset_Btn(Collection, "PD")}}

        {# Preset Week-1 Button #}
        <li>{{ btns.Preset_Btn(Collection, "PW")}}
        
        {# Preset Month-1 Button #}
        <li>{{ btns.Preset_Btn(Collection, "PM")}}

        {# Preset Year-1 Button #}
        <li>{{ btns.Preset_Btn(Collection, "PY")}}

  </ul>
</div>

{#
    Generate Date Preset Button
#}
{% macro Preset_Btn(Collection, Value) %}
        
    {% set isCurrent = (Collection.Preset == Value) %}
    
    {% set presetUrl = path('splash_widgets_collections_preset', { 
        'collectionId': Collection.id,  
        'preset' : Value
    }) %}
        
    <a  href="{{ presetUrl }}" class="dropdown-item py-1 {% if isCurrent %}bg-primary text-white{% endif %}">
        {{ ('dates.' ~ Value)  | trans }}
        {% if isCurrent %}<i class="fa fa-fw fa-star text-warning" aria-hidden="true"></i>{% endif %}
    </a>
        
{% endmacro %}

    